# Načtení, základní zpracování, filtrování a třídění dat pomocí Pandas

In [1]:
import pandas as pd

In [7]:
!python -m pip install xlwt
!python -m pip install openpyxl

Requirement already satisfied: xlwt in c:\users\tozit\miniconda3\envs\stats_env\lib\site-packages (1.3.0)
Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

Pandas umí načíst spoustu formátů tabulek s daty, nejčastěji .csv nebo Excel.

In [5]:
# df jako DataFrame
pokemon_df = pd.read_csv("data/Pokemon.csv")

In [8]:
weakness = pd.read_excel('data/weakness.xlsx', engine = 'openpyxl')
weakness

,Type,Weak against,Strong Against
0,Dark,"Fighting 1/2, Dark 1/2, Fairy 1/2","Ghost 2, Psychic 2"
1,Electric,"Grass 1/2, Ground 0, Electric 1/2, Dragon","Flying 2, Water 2"
2,Fighting,"Flying 1/2, Poison 1/2, Psychic 1/2, Bug","Normal 2, Rock 2, Steel 2, Ice"
3,Fire,"Fire 1/2, Water 1/2, Dragon 1/2, Rock","Grass 2, Steel 2, Ice 2, Bug"
4,Ghost,"Normal 0, Dark 1/2","Ghost 2, Psychic 2"
5,Psychic,"Steel 1/2, Psychic 1/2, Dark 0","Fighting 2, Poison 2"
6,Water,"Water 1/2, Grass 1/2, Dragon 1/2","Ground 2, Rock 2, Fire 2"
7,Bug,"Fighting 1/2, Flying 1/2, Poison 1/2, Ghost","Grass 2, Psychic 2, Dark 2"
8,Dragon,"Steel 1/2, Fairy 0",Dragon 2
9,Fairy,"Poison 1/2, Steel 1/2, Fire 1/2","Fighting 2, Dragon 2, Dark 2"
10,Flying,"Rock 1/2, Steel 1/2, Electric 1/2","Fighting 2, Bug 2, Grass 2"
11,Grass,"Flying 1/2, Poison 1/2, Bug 1/2, Steel","Ground 2, Rock 2, Water 2"
12,Ground,"Flying 0, Bug 1/2, Grass 1/2","Poison 2, Rock 2, Steel 2, Fire"
13,Ice,"Steel 1/2, Fire 1/2, Water 1/2, Ice","Flying 2, Ground 2, Grass 2, Dragon"
14,Normal,"Rock 1/2, Ghost 0, Steel 1/2",NaN
15,Poison,"Poison 1/2, Ground 1/2, Rock 1/2, Ghost","Grass 2, Fairy 2"
16,Rock,"Fighting 1/2, Ground 1/2, Steel 1/2","Flying 2, Bug 2, Fire 2, Ice"
17,Steel,"Steel 1/2, Fire 1/2, Water 1/2, Electric","Rock 2, Ice 2, Fairy 2"

In [78]:
pok_incl_weakness = pokemons.merge(weakness, how = 'left', left_on = 'type 1', right_on = 'Type')
pok_incl_weakness

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences,Type,Weak against,Strong Against
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,45,318,1,NaN,1,1:7,0,Grass,"Flying 1/2, Poison 1/2, Bug 1/2, Steel","Ground 2, Rock 2, Water 2"
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,60,405,1,1.0,1,1:7,0,Grass,"Flying 1/2, Poison 1/2, Bug 1/2, Steel","Ground 2, Rock 2, Water 2"
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,80,525,1,2.0,1,1:7,1,Grass,"Flying 1/2, Poison 1/2, Bug 1/2, Steel","Ground 2, Rock 2, Water 2"
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,65,309,1,NaN,2,1:7,0,Fire,"Fire 1/2, Water 1/2, Dragon 1/2, Rock","Grass 2, Steel 2, Ice 2, Bug"
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,80,405,1,4.0,2,1:7,0,Fire,"Fire 1/2, Water 1/2, Dragon 1/2, Rock","Grass 2, Steel 2, Ice 2, Bug"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,...,73,420,7,NaN,424,0:0,0,Poison,"Poison 1/2, Ground 1/2, Rock 1/2, Ghost","Grass 2, Fairy 2"
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,...,121,540,7,803.0,424,0:0,0,Poison,"Poison 1/2, Ground 1/2, Rock 1/2, Ghost","Grass 2, Fairy 2"
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,...,13,570,7,NaN,425,0:0,0,Rock,"Fighting 1/2, Ground 1/2, Steel 1/2","Flying 2, Bug 2, Fire 2, Ice"
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,...,107,570,7,NaN,426,0:0,0,Fire,"Fire 1/2, Water 1/2, Dragon 1/2, Rock","Grass 2, Steel 2, Ice 2, Bug"
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,...,143,600,7,NaN,427,0:0,0,Electric,"Grass 1/2, Ground 0, Electric 1/2, Dragon","Flying 2, Water 2"

In [4]:
hráči = [{"jméno": "Robot", "příjmení": "Marvin", "číslo": -42 , "tým": "FC Cadia"},
         {"jméno": "Leman", "příjmení": "Russ", "číslo": 40001, "tým": "FC Cadia" },
         {"jméno": "Zafod", "příjmení": "Biblbrox", "číslo": 42, "tým": "FC Cadia" },
         {"jméno": "Rick", "příjmení": "Sanchez", "číslo": 8, "tým": "FC Terra"},
         {"jméno": "Morty", "příjmení": "Sanchez", "číslo": 0, "tým": "FC Terra"}
]

In [5]:
hraci_df = pd.DataFrame(hráči)

In [6]:
pokemon_df

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,49,65,65,45,318,1,NaN,1,1:7,0
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,63,80,80,60,405,1,1.0,1,1:7,0
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,83,100,100,80,525,1,2.0,1,1:7,1
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,43,60,50,65,309,1,NaN,2,1:7,0
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,58,80,65,80,405,1,4.0,2,1:7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,...,67,73,67,73,420,7,NaN,424,0:0,0
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,...,73,127,73,121,540,7,803.0,424,0:0,0
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,...,211,53,101,13,570,7,NaN,425,0:0,0
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,...,53,151,79,107,570,7,NaN,426,0:0,0
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,...,75,102,80,143,600,7,NaN,427,0:0,0

## Přístup k datům - indexování 1

In [17]:
hraci_df

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8
4  Morty   Sanchez  FC Terra      0

In [27]:
hraci_df["číslo"]

0      -42
1    40001
2       42
3        8
4        0
Name: číslo, dtype: int64

In [29]:
hraci_df[["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8
4   Sanchez      0

In [35]:
hraci_df.loc[2:3].loc[2]

jméno          Zafod
příjmení    Biblbrox
tým         FC Cadia
číslo             42
Name: 2, dtype: object

In [31]:
hraci_df

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8
4  Morty   Sanchez  FC Terra      0

In [9]:
hraci_df.loc[:3][["příjmení", "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8

In [10]:
hraci_df.loc[:3, ["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8

In [36]:
hraci_df.loc[:, "jméno" : "tým"]

   jméno  příjmení       tým
0  Robot    Marvin  FC Cadia
1  Leman      Russ  FC Cadia
2  Zafod  Biblbrox  FC Cadia
3   Rick   Sanchez  FC Terra
4  Morty   Sanchez  FC Terra

In [25]:
pokemon_df.head()

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences,BMI
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,65,65,45,318,1,NaN,1,1:7,0,14.081633
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,80,80,60,405,1,1.0,1,1:7,0,13.000000
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,100,100,80,525,1,2.0,1,1:7,1,25.000000
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,60,50,65,309,1,NaN,2,1:7,0,23.611111
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,80,65,80,405,1,4.0,2,1:7,0,15.702479

In [40]:
pokemon_df.loc[:, "hp" : "total"]

      hp  attack  defense  sp. attack  sp. defense  speed  total
0     45      49       49          65           65     45    318
1     60      62       63          80           80     60    405
2     80      82       83         100          100     80    525
3     39      52       43          60           50     65    309
4     58      64       58          80           65     80    405
5     78      84       78         109           85    100    534
6     44      48       65          50           64     43    314
7     59      63       80          65           80     58    405
8     79      83      100          85          105     78    530
9     45      30       35          20           20     45    195
10    50      20       55          25           25     30    205
11    60      45       50          90           80     70    395
12    40      35       30          20           20     50    195
13    45      25       50          25           25     35    205
14    65      90       40          45           80     75    395
15    40      45       40          35           35     56    251
16    63      60       55          50           50     71    349
17    83      80       75          70           70    101    479
18    30      56       35          25           35     72    253
19    55      81       60          50           70     97    413
20    40      60       30          31           31     70    262
21    65      90       65          61           61    100    442
22    35      60       44          40           54     55    288
23    60      95       69          65           79     80    448
24    35      55       40          50           50     90    320
25    60      90       55          90           80    110    485
26    50      75       85          20           30     40    300
27    75     100      110          45           55     65    450
28    55      47       52          40           40     41    275
29    70      62       67          55           55     56    365
..   ...     ...      ...         ...          ...    ...    ...
777   55      90       80          50          105     96    476
778   68     105       70          70           70     92    475
779   78      60       85         135           91     36    485
780   70     131      100          86           90     40    517
781   45      55       65          45           45     45    300
782   55      75       90          65           70     65    420
783   75     110      125         100          105     85    600
784   70     115       85          95           75    130    570
785   70      85       75         130          115     95    570
786   70     130      115          85           95     75    570
787   70      75      115          95          130     85    570
788   43      29       31          29           31     37    200
789   43      29      131          29          131     37    400
790  137     137      107         113           89     97    680
791  137     113       89         137          107     97    680
792  109      53       47         127          131    103    570
793  107     139      139          53           53     79    570
794   71     137       37         137           37    151    570
795   83      89       71         173           71     83    570
796   97     101      103         107          101     61    570
797   59     181      131          59           31    109    570
798  223     101       53          97           53     43    570
799   97     107      101         127           89     79    600
800   80      95      115         130          115     65    600
801   90     125       80          90           90    125    600
802   67      73       67          73           67     73    420
803   73      73       73         127           73    121    540
804   61     131      211          53          101     13    570
805   53     127       53         151           79    107    570
806   88     112       75         102           80    143    600

[807 rows x 7 columns]

### Číslelný index

In [11]:
napoje_df = pd.read_excel("data/lb_data.xlsx")

In [55]:
napoje_df.iloc[0:4, 11:13]

  Kód.1 TYP
0   PEP  AR
1   COL  BR
2   H2O  BR
3   MIR  AR

In [54]:
kod_typ = napoje_df.iloc[0:4, 11:13]

napoje_cut_df = napoje_df.iloc[0:9, 2:8].reset_index(drop=True)
napoje_cut_df

       Číslo        Název  něco  něco.1  Kód    Reference
0  000758453      Pepsi 1   NaN     NaN  PEP  PEP758453AR
1  000758454  Mirinda 453   NaN     NaN  MIR  MIR758454AR
2  000758455      Cola 87   NaN     NaN  COL          NaN
3  000758458    Pepsi 152   NaN     NaN  PEP          NaN
4   00085691    Pepsi 462   NaN     NaN  PEP          NaN
5   00085692      Cola 50   NaN     NaN  COL          NaN
6   00085693  Mirinda 400   NaN     NaN  MIR          NaN
7   00085694     Voda H2O   NaN     NaN  H2O          NaN
8  000758456     Voda 007   NaN     NaN  H2O          NaN

## Přísup k datům - indexování 2

In [56]:
napoje_df

,Unnamed: 0,Unnamed: 1,Číslo,Název,něco,něco.1,Kód,Reference,Unnamed: 8,Unnamed: 9,Unnamed: 10,Kód.1,TYP
0,NaN,NaN,000758453,Pepsi 1,NaN,NaN,PEP,PEP758453AR,NaN,NaN,NaN,PEP,AR
1,NaN,NaN,000758454,Mirinda 453,NaN,NaN,MIR,MIR758454AR,NaN,NaN,NaN,COL,BR
2,NaN,NaN,000758455,Cola 87,NaN,NaN,COL,NaN,NaN,NaN,NaN,H2O,BR
3,NaN,NaN,000758458,Pepsi 152,NaN,NaN,PEP,NaN,NaN,NaN,NaN,MIR,AR
4,NaN,NaN,00085691,Pepsi 462,NaN,NaN,PEP,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,00085692,Cola 50,NaN,NaN,COL,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,00085693,Mirinda 400,NaN,NaN,MIR,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,00085694,Voda H2O,NaN,NaN,H2O,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,000758456,Voda 007,NaN,NaN,H2O,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,000758457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,Cílem je vytvořit referenci ze sloupečků G + (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Tam to asi půjde jednoduše přes if - if G PEP ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,"Řešení tam ty nuly nepsat by šlo asi taky, ale...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Super by bylo moct si tu referenci nebo celej ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,Ono tohle v Excelu určitě půjde udělat. Podobn...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
hraci_df.loc[maska, ["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42

## Filtrování dat - masky

In [57]:
hraci_df

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8
4  Morty   Sanchez  FC Terra      0

In [12]:
maska = hraci_df["tým"] == "FC Cadia"
maska

0     True
1     True
2     True
3    False
4    False
Name: tým, dtype: bool

In [13]:
hraci_df[maska]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42

In [58]:
hraci_df[hraci_df["tým"] == "FC Cadia"]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42

### Logické operátory

    Python        Pandas
    and            &
    or             |
    not            ~

In [60]:
hraci_df[(hraci_df["tým"] == "FC Terra") & (hraci_df["číslo"] > 0) ]

  jméno příjmení       tým  číslo
3  Rick  Sanchez  FC Terra      8

In [61]:
hraci_df[(hraci_df["tým"] != "FC Terra") | (hraci_df["jméno"].str[0]=="R") ]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8

In [62]:
hraci_df[(hraci_df["tým"] != "FC Terra") & (hraci_df["jméno"].str[0]=="R") ]

   jméno příjmení       tým  číslo
0  Robot   Marvin  FC Cadia    -42

In [49]:
hraci_df[hraci_df['příjmení'].isin(['Sanchez', 'Russ'])]

   jméno příjmení       tým  číslo
1  Leman     Russ  FC Cadia  40001
3   Rick  Sanchez  FC Terra      8
4  Morty  Sanchez  FC Terra      0

In [12]:
my_colors = ['blue','green','yellow']

In [17]:
pok_my_colors =   pokemon_df[pokemon_df['color'].isin(my_colors)]
pok_my_colors

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,49,65,65,45,318,1,NaN,1,1:7,0
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,63,80,80,60,405,1,1.0,1,1:7,0
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,83,100,100,80,525,1,2.0,1,1:7,1
6,7,squirtle,0.5,9.0,blue,upright,False,Water,NaN,44,...,65,50,64,43,314,1,NaN,3,1:7,0
7,8,wartortle,1.0,22.5,blue,upright,False,Water,NaN,59,...,80,65,80,58,405,1,7.0,3,1:7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,785,tapu-koko,1.8,20.5,yellow,arms,False,Electric,Fairy,70,...,85,95,75,130,570,7,NaN,409,0:0,0
788,789,cosmog,0.2,0.1,blue,ball,False,Psychic,NaN,43,...,31,29,31,37,200,7,NaN,413,0:0,0
789,790,cosmoem,0.1,999.9,blue,ball,False,Psychic,NaN,43,...,131,29,131,37,400,7,789.0,413,0:0,0
796,797,celesteela,9.2,999.9,green,humanoid,False,Steel,Flying,97,...,103,107,101,61,570,7,NaN,418,0:0,0
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,...,75,102,80,143,600,7,NaN,427,0:0,0

In [70]:
hraci_df[abs(hraci_df["číslo"]) == 42]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
2  Zafod  Biblbrox  FC Cadia     42

In [67]:
postavy_prijmeni = ["Prefect", "Dent", "Marvin", 
                    "Biblbrox", "von Vogon"]

In [79]:
hraci_df[hraci_df["příjmení"].isin(postavy_prijmeni)]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
2  Zafod  Biblbrox  FC Cadia     42

## Přidávání sloupců

In [108]:
pokemon_df["BMI"] = pokemon_df["weight"] / pokemon_df["height"]**2

In [109]:
pokemon_df.head()

,id,name,height,weight,color,shape,is_baby,type 1,type 2,hp,...,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences,BMI
717,718,zygarde,5.0,305.0,green,squiggle,False,Dragon,Ground,108,...,81,95,95,600,6,0,370,0:0,0,12.200000
633,634,zweilous,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,...,65,70,58,420,5,633,323,1:1,0,25.510204
40,41,zubat,0.8,7.5,purple,wings,False,Poison,Flying,40,...,30,40,55,245,1,0,17,1:1,1,11.718750
569,570,zorua,0.7,12.5,gray,quadruped,False,Dark,NaN,40,...,80,40,65,330,5,0,291,1:7,0,25.510204
570,571,zoroark,1.6,81.1,gray,upright,False,Dark,NaN,60,...,120,60,105,510,5,570,291,1:7,0,31.679687

## Čištění

In [81]:
pokemon_df.head()

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences,BMI
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,65,65,45,318,1,NaN,1,1:7,0,14.081633
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,80,80,60,405,1,1.0,1,1:7,0,13.000000
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,100,100,80,525,1,2.0,1,1:7,1,25.000000
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,60,50,65,309,1,NaN,2,1:7,0,23.611111
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,80,65,80,405,1,4.0,2,1:7,0,15.702479

In [ ]:
pokemon_df.drop(columns=["has_gender_differences"], inplace=True)

In [83]:
pokemon_df.rename(columns={"is baby": "is_baby"}, inplace=True)

In [91]:
pokemon_df["evolves from"].head()

0    0
1    1
2    2
3    0
4    4
Name: evolves from, dtype: int64

In [90]:
pokemon_df["evolves from"] = pokemon_df["evolves from"].fillna(0).astype(int)

## Samplování a řazení

In [28]:
#náhodný výběr
pokemons.sample(10)

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
367,368,gorebyss,1.8,22.6,pink,squiggle,False,Water,NaN,55,...,105,114,75,52,485,3,366.0,188,1:1,0
156,157,typhlosion,1.7,79.5,yellow,quadruped,False,Fire,NaN,78,...,78,109,85,100,534,2,156.0,80,1:7,0
139,140,kabuto,0.5,11.5,brown,armor,False,Rock,Water,30,...,90,55,45,55,355,1,NaN,70,1:7,0
128,129,magikarp,0.9,10.0,red,fish,False,Water,NaN,20,...,55,15,20,80,200,1,NaN,64,1:1,1
221,222,corsola,0.6,5.0,pink,armor,False,Water,Rock,65,...,95,65,95,35,410,2,NaN,113,3:1,0
384,385,jirachi,0.3,1.1,yellow,humanoid,False,Steel,Psychic,100,...,100,100,100,100,600,3,NaN,201,0:0,0
180,181,ampharos,1.4,61.5,yellow,upright,False,Electric,NaN,90,...,85,115,90,55,510,2,180.0,89,1:1,0
22,23,ekans,2.0,6.9,purple,squiggle,False,Poison,NaN,35,...,44,40,54,55,288,1,NaN,9,1:1,0
407,408,cranidos,0.9,31.5,blue,upright,False,Rock,NaN,67,...,40,30,30,58,350,4,NaN,211,1:7,0
354,355,duskull,0.8,15.0,black,arms,False,Ghost,NaN,20,...,90,30,90,25,295,3,NaN,182,1:1,0

In [29]:
# n největších hodnot
pokemons.nlargest(10, 'weight')

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
789,790,cosmoem,0.1,999.9,blue,ball,False,Psychic,NaN,43,...,131,29,131,37,400,7,789.0,413,0:0,0
796,797,celesteela,9.2,999.9,green,humanoid,False,Steel,Flying,97,...,103,107,101,61,570,7,NaN,418,0:0,0
382,383,groudon,3.5,950.0,red,upright,False,Ground,NaN,100,...,140,100,90,90,670,3,NaN,199,0:0,0
749,750,mudsdale,2.5,920.0,brown,quadruped,False,Ground,NaN,100,...,100,55,85,35,500,7,749.0,386,1:1,0
798,799,guzzlord,5.5,888.0,black,upright,False,Dark,Dragon,223,...,53,97,53,43,570,7,NaN,420,0:0,0
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,...,211,53,101,13,570,7,NaN,425,0:0,0
486,487,giratina,4.5,750.0,black,tentacles,False,Ghost,Dragon,150,...,120,100,120,90,680,4,NaN,248,0:0,0
482,483,dialga,5.4,683.0,white,quadruped,False,Steel,Dragon,100,...,120,150,100,90,680,4,NaN,244,0:0,0
375,376,metagross,1.6,550.0,blue,heads,False,Steel,Psychic,80,...,130,95,90,70,600,3,375.0,192,0:0,0
712,713,avalugg,2.0,505.0,blue,quadruped,False,Ice,NaN,95,...,184,44,46,28,514,6,712.0,366,1:1,0

In [10]:
last5 = pokemon_df.sort_values(by='name', ascending=False)[:5]
last5

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
717,718,zygarde,5.0,305.0,green,squiggle,False,Dragon,Ground,108,...,121,81,95,95,600,6,NaN,370,0:0,0
633,634,zweilous,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,...,70,65,70,58,420,5,633.0,323,1:1,0
40,41,zubat,0.8,7.5,purple,wings,False,Poison,Flying,40,...,35,30,40,55,245,1,NaN,17,1:1,1
569,570,zorua,0.7,12.5,gray,quadruped,False,Dark,NaN,40,...,40,80,40,65,330,5,NaN,291,1:7,0
570,571,zoroark,1.6,81.1,gray,upright,False,Dark,NaN,60,...,60,120,60,105,510,5,570.0,291,1:7,0

## Výstup

In [110]:
pokemon_df.to_excel("data/pokemon_bmi.xls")

## >>> Řešení cvičení

In [149]:
heaviest_babe = pokemon_df[pokemon_df.is_baby].sort_values(by="weight", ascending=False).iloc[0]
heaviest_babe

id                             446
name                      munchlax
height                         0.6
weight                         105
color                        black
shape                     humanoid
is_baby                       True
type 1                      Normal
type 2                         NaN
hp                             135
attack                          85
defense                         40
sp. attack                      40
sp. defense                     85
speed                            5
total                          390
generation                       4
evolves from                     0
evolution group                 72
fm gender ratio                1:7
has_gender_differences           0
BMI                        291.667
Name: 445, dtype: object

In [150]:
baby_wght = heaviest_babe["weight"]

In [151]:
lighter_poks = pokemon_df[
    (~pokemon_df.is_baby) & 
    (pokemon_df["weight"] < baby_wght)]
lighter_poks

,id,name,height,weight,color,shape,is_baby,type 1,type 2,hp,...,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences,BMI
633,634,zweilous,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,...,65,70,58,420,5,633,323,1:1,0,25.510204
40,41,zubat,0.8,7.5,purple,wings,False,Poison,Flying,40,...,30,40,55,245,1,0,17,1:1,1,11.718750
569,570,zorua,0.7,12.5,gray,quadruped,False,Dark,NaN,40,...,80,40,65,330,5,0,291,1:7,0,25.510204
570,571,zoroark,1.6,81.1,gray,upright,False,Dark,NaN,60,...,120,60,105,510,5,570,291,1:7,0,31.679687
262,263,zigzagoon,0.4,17.5,brown,quadruped,False,Normal,NaN,38,...,30,41,60,240,3,0,134,1:1,0,109.375000
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,...,102,80,143,600,7,0,427,0:0,0,19.777778
522,523,zebstrika,1.6,79.5,black,quadruped,False,Electric,NaN,75,...,80,63,116,497,5,522,267,1:1,0,31.054687
144,145,zapdos,1.6,52.6,yellow,wings,False,Electric,Flying,90,...,125,90,100,580,1,0,74,0:0,0,20.546875
334,335,zangoose,1.3,40.3,white,upright,False,Normal,NaN,73,...,60,60,90,458,3,0,169,1:1,0,23.846154
733,734,yungoos,0.4,6.0,brown,quadruped,False,Normal,NaN,48,...,30,30,45,253,7,0,378,1:1,0,37.500000
468,469,yanmega,1.9,51.5,green,bug-wings,False,Bug,Flying,86,...,116,56,95,515,4,193,95,1:1,0,14.265928
192,193,yanma,1.2,38.0,red,bug-wings,False,Bug,Flying,65,...,75,45,95,390,2,0,95,1:1,0,26.388889
561,562,yamask,0.5,1.5,black,arms,False,Ghost,NaN,38,...,55,65,30,303,5,0,287,1:1,0,6.000000
795,796,xurkitree,3.8,100.0,black,upright,False,Electric,NaN,83,...,173,71,83,570,7,0,417,0:0,0,6.925208
177,178,xatu,1.5,15.0,green,wings,False,Psychic,Flying,65,...,95,70,95,470,2,177,88,1:1,1,6.666667
264,265,wurmple,0.3,3.6,red,armor,False,Bug,NaN,45,...,20,30,20,195,3,0,135,1:1,0,40.000000
412,413,wormadam,0.5,6.5,green,blob,False,Bug,Grass,60,...,79,105,36,424,4,412,213,1:0,0,26.000000
193,194,wooper,0.4,8.5,blue,legs,False,Water,Ground,55,...,25,25,15,210,2,0,96,1:1,1,53.125000
526,527,woobat,0.4,2.1,blue,wings,False,Psychic,Flying,65,...,55,43,72,323,5,0,269,1:1,0,13.125000
201,202,wobbuffet,1.3,28.5,blue,blob,False,Psychic,NaN,190,...,33,58,33,405,2,360,100,1:1,1,16.863905
745,746,wishiwashi,0.2,0.3,blue,fish,False,Water,NaN,45,...,25,25,40,175,7,0,384,1:1,0,7.500000
277,278,wingull,0.6,9.5,white,wings,False,Water,Flying,40,...,55,30,85,270,3,0,139,1:1,0,26.388889
766,767,wimpod,0.5,12.0,gray,tentacles,False,Bug,Water,25,...,20,30,80,230,7,0,396,1:1,0,48.000000
39,40,wigglytuff,1.0,12.0,pink,humanoid,False,Normal,Fairy,140,...,85,50,45,435,1,39,16,3:1,0,12.000000
292,293,whismur,0.6,16.3,pink,upright,False,Normal,NaN,64,...,51,23,28,240,3,0,145,1:1,0,45.277778
339,340,whiscash,0.9,23.6,blue,fish,False,Water,Ground,110,...,76,71,60,468,3,339,173,1:1,0,29.135802
543,544,whirlipede,1.2,58.5,gray,ball,False,Bug,Poison,40,...,40,79,47,360,5,543,277,1:1,0,40.625000
546,547,whimsicott,0.7,6.6,green,humanoid,False,Grass,Fairy,60,...,77,75,116,480,5,546,278,1:1,0,13.469388
109,110,weezing,1.2,9.5,purple,heads,False,Poison,NaN,65,...,85,70,60,490,1,109,49,1:1,0,6.597222
69,70,weepinbell,1.0,6.4,green,blob,False,Grass,Poison,65,...,85,45,55,390,1,69,29,1:1,0,6.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,354,banette,1.1,12.5,black,upright,False,Ghost,NaN,64,...,83,63,65,455,3,353,181,1:1,0,10.330579
342,343,baltoy,0.5,21.5,brown,arms,False,Ground,Psychic,40,...,40,70,55,300,3,0,175,0:0,0,86.000000
370,371,bagon,0.6,42.1,blue,humanoid,False,Dragon,NaN,45,...,40,30,50,300,3,0,191,1:1,0,116.944444
183,184,azumarill,0.8,28.5,blue,upright,False,Water,Fairy,100,...,60,80,50,420,2,183,90,1:1,0,44.531250
481,482,azelf,0.3,0.3,blue,upright,False,Psychic,NaN,75,...,125,70,115,580,4,0,243,0:0,0,3.333333
609,610,axew,0.6,18.0,green,upright,False,Dragon,NaN,46,...,30,40,57,320,5,0,309,1:1,0,50.000000
530,531,audino,1.1,31.0,pink,upright,False,Normal,NaN,103,...,60,86,50,445,5,0,271,1:1,0,25.619835
143,144,articuno,1.7,55.4,blue,wings,False,Ice,Flying,90,...,95,125,85,580,1,0,73,0:0,0,19.169550
303,304,aron,0.4,60.0,gray,quadruped,False,Steel,Rock,50,...,40,40,30,330,3,0,151,1:1,0,375.000000
682,683,aromatisse,0.8,15.5,pink,humanoid,False,Fairy,NaN,101,...,99,89,29,462,6,682,350,1:1,0,24.218750
347,348,armaldo,1.5,68.2,gray,upright,False,Rock,Bug,75,...,70,80,45,495,3,347,177,1:7,0,30.311111
167,168,ariados,1.1,33.5,red,armor,False,Bug,Poison,70,...,60,70,40,400,2,167,85,1:1,0,27.685950
566,567,archeops,1.4,32.0,yellow,wings,False,Rock,Flying,75,...,112,65,110,567,5,566,289,1:7,0,16.326531
565,566,archen,0.5,9.5,yellow,wings,False,Rock,Flying,55,...,74,45,70,401,5,0,289,1:7,0,38.000000
23,24,arbok,3.5,65.0,purple,squiggle,False,Poison,NaN,60,...,65,79,80,448,1,23,9,1:1,0,5.306122
751,752,araquanid,1.8,82.0,green,armor,False,Water,Bug,68,...,50,132,42,454,7,751,387,1:1,0,25.308642
346,347,anorith,0.7,12.5,gray,armor,False,Rock,Bug,45,...,40,50,75,355,3,0,177,1:7,0,25.510204
180,181,ampharos,1.4,61.5,yellow,upright,False,Electric,NaN,90,...,115,90,55,510,2,180,89,1:1,0,31.377551
590,591,amoonguss,0.6,10.5,white,arms,False,Grass,Poison,114,...,85,80,30,464,5,590,300,1:1,0,29.166667
423,424,ambipom,1.2,20.3,purple,upright,False,Normal,NaN,75,...,60,66,115,482,4,190,93,1:1,1,14.097222
697,698,amaura,1.3,25.2,blue,quadruped,False,Rock,Ice,77,...,67,63,46,362,6,0,358,1:7,0,14.911243
333,334,altaria,1.1,20.6,blue,wings,False,Dragon,Flying,75,...,70,105,80,490,3,333,168,1:1,0,17.024793
593,594,alomomola,1.2,31.6,pink,fish,False,Water,NaN,165,...,40,45,65,470,5,0,302,1:1,0,21.944444
64,65,alakazam,1.5,48.0,brown,humanoid,False,Psychic,NaN,55,...,135,95,120,500,1,64,27,1:3,1,21.333333
189,190,aipom,0.8,11.5,purple,upright,False,Normal,NaN,55,...,40,55,85,360,2,0,93,1:1,1,17.968750
141,142,aerodactyl,1.8,59.0,purple,wings,False,Rock,Flying,80,...,60,75,130,515,1,0,71,1:7,0,18.209877
680,681,aegislash,1.7,53.0,brown,blob,False,Steel,Ghost,60,...,50,150,60,520,6,680,349,1:1,0,18.339100
616,617,accelgor,0.8,25.3,red,arms,False,Bug,NaN,80,...,100,60,145,495,5,616,312,1:1,0,39.531250
358,359,absol,1.2,47.0,white,quadruped,False,Dark,NaN,65,...,75,60,75,465,3,0,185,1:1,0,32.638889
62,63,abra,0.9,19.5,brown,upright,False,Psychic,NaN,25,...,105,55,90,310,1,0,27,1:3,0,24.074074

In [139]:
len(lighter_poks)

671

In [155]:
pokemon_df[pokemon_df["is_baby"]].sort_values(
    by="weight", ascending=False).iloc[:5]

,id,name,height,weight,color,shape,is_baby,type 1,type 2,hp,...,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences,BMI
445,446,munchlax,0.6,105.0,black,humanoid,True,Normal,NaN,135,...,40,85,5,390,4,0,72,1:7,0,291.666667
457,458,mantyke,1.0,65.0,blue,wings,True,Water,Flying,45,...,60,120,50,345,4,0,116,1:1,0,65.000000
439,440,happiny,0.6,24.4,pink,humanoid,True,Normal,NaN,100,...,15,65,30,220,4,0,51,1:0,0,67.777778
238,239,elekid,0.6,23.5,yellow,humanoid,True,Electric,NaN,45,...,65,55,95,360,2,0,60,1:3,0,65.277778
239,240,magby,0.7,21.4,red,upright,True,Fire,NaN,45,...,70,55,83,365,2,0,61,1:3,0,43.673469

In [160]:
pokemon_df.min()

id                                1
name                      abomasnow
height                          0.1
weight                          0.1
color                         black
shape                         armor
is_baby                       False
type 1                          Bug
hp                                1
attack                            5
defense                           5
sp. attack                       10
sp. defense                      20
speed                             5
total                           175
generation                        1
evolves from                      0
evolution group                   1
fm gender ratio                 0:0
has_gender_differences            0
BMI                       0.0390625
dtype: object