# Načtení, základní zpracování, filtrování a třídění dat pomocí Pandas
1. Načtení dat z `.csv`, `.xlsx` a ze slovníku.
2. Indexování
3. Filtrování
4. Čištění, řazení, přidávání sloupců, výstup

Pandas se tradičně importuje jako `pd`, je to už konvence takže to většinou není matoucí.

In [2]:
import pandas as pd

Základní datovou strukturou v Pandas je `DataFrame` je to vlastně tabulka s pojmenovanými sloupci (columns) ale i řádky (index).

Pandas umí do Dataframu načíst spoustu formátů tabulek s daty, nejčastěji .csv nebo Excel. Všechny metody pro načítání začínají `read_`. Pokud chceš tedy zjistit, jestli pandas umí pracovat s tvým formátem stačí napsat `pd.read_` a stisknout `Tab`, Jupyter zobrazí nápovědu, ve které snad najdeš, co potřebuješ.

Načteme si data ze dvou souborů ale vyrobíme si i jednodušší datovou strukturu, na které si ukážeme některé postupy.

In [3]:
# pd.read_
pokemon_df = pd.read_csv("../data/Pokemon.csv")
# df jako DataFrame

Pro načítání a zapisování do excelu je třeba modul `xlrd` a `xlwt`. Díky magii je můžeme naistalovat přímo z Jupteru, `!` spustí následující řádek jako příkaz na příkazové řádce.

In [4]:
!python -m pip install xlwt
!python -m pip install xlrd

Requirement already satisfied: xlwt in /home/tomas/anaconda3/lib/python3.7/site-packages (1.3.0)
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: xlrd in /home/tomas/anaconda3/lib/python3.7/site-packages (1.1.0)
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

Excel pak načteme jednoduše

In [5]:
napoje_df = pd.read_excel("../data/lb_data.xlsx")

Dataframe můžeme udělat i z Pythonních datových struktur jako je slovník nebo seznam.

In [6]:
hraci = [{"jméno": "Robot", "příjmení": "Marvin", "číslo": -42 , "tým": "FC Cadia"},
         {"jméno": "Leman", "příjmení": "Russ", "číslo": 40001, "tým": "FC Cadia" },
         {"jméno": "Zafod", "příjmení": "Biblbrox", "číslo": 42, "tým": "FC Cadia" },
         {"jméno": "Rick", "příjmení": "Sanchez", "číslo": 8, "tým": "FC Terra"},
         {"jméno": "Morty", "příjmení": "Sanchez", "číslo": 0, "tým": "FC Terra"}
]

In [7]:
hraci_df = pd.DataFrame(hraci)

DataFrame můžeme vypsat tak, že napíšeme jeho jméno na poslední řádek buňky, tím se z něj stane její výstup a vypíše se.

In [8]:
pokemon_df

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,49,65,65,45,318,1,NaN,1,1:7,0
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,63,80,80,60,405,1,1.0,1,1:7,0
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,83,100,100,80,525,1,2.0,1,1:7,1
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,43,60,50,65,309,1,NaN,2,1:7,0
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,58,80,65,80,405,1,4.0,2,1:7,0
5,6,charizard,1.7,90.5,red,upright,False,Fire,Flying,78,...,78,109,85,100,534,1,5.0,2,1:7,0
6,7,squirtle,0.5,9.0,blue,upright,False,Water,NaN,44,...,65,50,64,43,314,1,NaN,3,1:7,0
7,8,wartortle,1.0,22.5,blue,upright,False,Water,NaN,59,...,80,65,80,58,405,1,7.0,3,1:7,0
8,9,blastoise,1.6,85.5,blue,upright,False,Water,NaN,79,...,100,85,105,78,530,1,8.0,3,1:7,0
9,10,caterpie,0.3,2.9,green,armor,False,Bug,NaN,45,...,35,20,20,45,195,1,NaN,4,1:1,0
10,11,metapod,0.7,9.9,green,squiggle,False,Bug,NaN,50,...,55,25,25,30,205,1,10.0,4,1:1,0
11,12,butterfree,1.1,32.0,white,bug-wings,False,Bug,Flying,60,...,50,90,80,70,395,1,11.0,4,1:1,1
12,13,weedle,0.3,3.2,brown,armor,False,Bug,Poison,40,...,30,20,20,50,195,1,NaN,5,1:1,0
13,14,kakuna,0.6,10.0,yellow,squiggle,False,Bug,Poison,45,...,50,25,25,35,205,1,13.0,5,1:1,0
14,15,beedrill,1.0,29.5,yellow,bug-wings,False,Bug,Poison,65,...,40,45,80,75,395,1,14.0,5,1:1,0
15,16,pidgey,0.3,1.8,brown,wings,False,Normal,Flying,40,...,40,35,35,56,251,1,NaN,6,1:1,0
16,17,pidgeotto,1.1,30.0,brown,wings,False,Normal,Flying,63,...,55,50,50,71,349,1,16.0,6,1:1,0
17,18,pidgeot,1.5,39.5,brown,wings,False,Normal,Flying,83,...,75,70,70,101,479,1,17.0,6,1:1,0
18,19,rattata,0.3,3.5,purple,quadruped,False,Normal,NaN,30,...,35,25,35,72,253,1,NaN,7,1:1,1
19,20,raticate,0.7,18.5,brown,quadruped,False,Normal,NaN,55,...,60,50,70,97,413,1,19.0,7,1:1,1
20,21,spearow,0.3,2.0,brown,wings,False,Normal,Flying,40,...,30,31,31,70,262,1,NaN,8,1:1,0
21,22,fearow,1.2,38.0,brown,wings,False,Normal,Flying,65,...,65,61,61,100,442,1,21.0,8,1:1,0
22,23,ekans,2.0,6.9,purple,squiggle,False,Poison,NaN,35,...,44,40,54,55,288,1,NaN,9,1:1,0
23,24,arbok,3.5,65.0,purple,squiggle,False,Poison,NaN,60,...,69,65,79,80,448,1,23.0,9,1:1,0
24,25,pikachu,0.4,6.0,yellow,quadruped,False,Electric,NaN,35,...,40,50,50,90,320,1,172.0,10,1:1,1
25,26,raichu,0.8,30.0,yellow,upright,False,Electric,NaN,60,...,55,90,80,110,485,1,25.0,10,1:1,1
26,27,sandshrew,0.6,12.0,yellow,upright,False,Ground,NaN,50,...,85,20,30,40,300,1,NaN,11,1:1,0
27,28,sandslash,1.0,29.5,yellow,upright,False,Ground,NaN,75,...,110,45,55,65,450,1,27.0,11,1:1,0
28,29,nidoran-f,0.4,7.0,blue,quadruped,False,Poison,NaN,55,...,52,40,40,41,275,1,NaN,12,1:0,0
29,30,nidorina,0.8,20.0,blue,quadruped,False,Poison,NaN,70,...,67,55,55,56,365,1,29.0,12,1:0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,778,mimikyu,0.2,0.7,yellow,squiggle,False,Ghost,Fairy,55,...,80,50,105,96,476,7,NaN,404,1:1,0
778,779,bruxish,0.9,19.0,pink,fish,False,Water,Psychic,68,...,70,70,70,92,475,7,NaN,405,1:1,0
779,780,drampa,3.0,185.0,white,squiggle,False,Normal,Dragon,78,...,85,135,91,36,485,7,NaN,406,1:1,0
780,781,dhelmise,3.9,210.0,green,blob,False,Ghost,Grass,70,...,100,86,90,40,517,7,NaN,407,0:0,0
781,782,jangmo-o,0.6,29.7,gray,quadruped,False,Dragon,NaN,45,...,65,45,45,45,300,7,NaN,408,1:1,0
782,783,hakamo-o,1.2,47.0,gray,upright,False,Dragon,Fighting,55,...,90,65,70,65,420,7,782.0,408,1:1,0
783,784,kommo-o,1.6,78.2,gray,upright,False,Dragon,Fighting,75,...,125,100,105,85,600,7,783.0,408,1:1,0
784,785,tapu-koko,1.8,20.5,yellow,arms,False,Electric,Fairy,70,...,85,95,75,130,570,7,NaN,409,0:0,0
785,786,tapu-lele,1.2,18.6,pink,arms,False,Psychic,Fairy,70,...,75,130,115,95,570,7,NaN,410,0:0,0
786,787,tapu-bulu,1.9,45.5,red,arms,False,Grass,Fairy,70,...,115,85,95,75,570,7,NaN,411,0:0,0
787,788,tapu-fini,1.3,21.2,purple,arms,False,Water,Fairy,70,...,115,95,130,85,570,7,NaN,412,0:0,0
788,789,cosmog,0.2,0.1,blue,ball,False,Psychic,NaN,43,...,31,29,31,37,200,7,NaN,413,0:0,0
789,790,cosmoem,0.1,999.9,blue,ball,False,Psychic,NaN,43,...,131,29,131,37,400,7,789.0,413,0:0,0
790,791,solgaleo,3.4,230.0,white,quadruped,False,Psychic,Steel,137,...,107,113,89,97,680,7,790.0,413,0:0,0
791,792,lunala,4.0,120.0,purple,wings,False,Psychic,Ghost,137,...,89,137,107,97,680,7,790.0,413,0:0,0
792,793,nihilego,1.2,55.5,white,tentacles,False,Rock,Poison,109,...,47,127,131,103,570,7,NaN,414,0:0,0
793,794,buzzwole,2.4,333.6,red,tentacles,False,Bug,Fighting,107,...,139,53,53,79,570,7,NaN,415,0:0,0
794,795,pheromosa,1.8,25.0,white,humanoid,False,Bug,Fighting,71,...,37,137,37,151,570,7,NaN,416,0:0,0
795,796,xurkitree,3.8,100.0,black,upright,False,Electric,NaN,83,...,71,173,71,83,570,7,NaN,417,0:0,0
796,797,celesteela,9.2,999.9,green,humanoid,False,Steel,Flying,97,...,103,107,101,61,570,7,NaN,418,0:0,0
797,798,kartana,0.3,0.1,white,humanoid,False,Grass,Steel,59,...,131,59,31,109,570,7,NaN,419,0:0,0
798,799,guzzlord,5.5,888.0,black,upright,False,Dark,Dragon,223,...,53,97,53,43,570,7,NaN,420,0:0,0
799,800,necrozma,2.4,230.0,black,arms,False,Psychic,NaN,97,...,101,127,89,79,600,7,NaN,421,0:0,0
800,801,magearna,1.0,80.5,gray,humanoid,False,Steel,Fairy,80,...,115,130,115,65,600,7,NaN,422,0:0,0
801,802,marshadow,0.7,22.2,gray,humanoid,False,Fighting,Ghost,90,...,80,90,90,125,600,7,NaN,423,0:0,0
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,...,67,73,67,73,420,7,NaN,424,0:0,0
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,...,73,127,73,121,540,7,803.0,424,0:0,0
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,...,211,53,101,13,570,7,NaN,425,0:0,0
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,...,53,151,79,107,570,7,NaN,426,0:0,0
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,...,75,102,80,143,600,7,NaN,427,0:0,0

To ale bývá často moc dlouhé, občas nám stačí jen hlavička a pár prvních řádků, abychom si udělali představu.

In [9]:
pokemon_df.head()

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,49,65,65,45,318,1,NaN,1,1:7,0
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,63,80,80,60,405,1,1.0,1,1:7,0
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,83,100,100,80,525,1,2.0,1,1:7,1
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,43,60,50,65,309,1,NaN,2,1:7,0
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,58,80,65,80,405,1,4.0,2,1:7,0

Tučnému sloupci bez hlavičky úpně vlevo se říká index, v našem případě je automaticky vygenerovaný.

In [10]:
pokemon_df.index

RangeIndex(start=0, stop=807, step=1)

Můžeme ho ale nastavit i ručně nebo načíst ze souboru spolu s daty.

In [11]:
pokemon_df = pd.read_csv("../data/Pokemon.csv", index_col="id")

In [12]:
pokemon_df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            798, 799, 800, 801, 802, 803, 804, 805, 806, 807],
           dtype='int64', name='id', length=807)

Ještě se občas hodí získat jména sloupců.

In [42]:
pokemon_df.columns

Index(['name', 'height', 'weight', 'color', 'shape', 'is baby', 'type 1',
       'type 2', 'hp', 'attack', 'defense', 'sp. attack', 'sp. defense',
       'speed', 'total', 'generation', 'evolves from', 'evolution group',
       'fm gender ratio', 'has_gender_differences'],
      dtype='object')

## Přístup k datům - indexování 1

In [14]:
hraci_df

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8
4  Morty   Sanchez  FC Terra      0

Do hranatých závorek napíšeme jméno sloupce, který nás zajímá, `DataFrame` nám ho vrátí jako `Series`

In [15]:
hraci_df["číslo"]

0      -42
1    40001
2       42
3        8
4        0
Name: číslo, dtype: int64

Když chceme více sloupců musíme použít list, proto dvojíté hranaté závorky

In [16]:
hraci_df[["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8
4   Sanchez      0

Pomocí `.loc` můžeme vybírat řádky stejně jako položky ze seznamu, jen pozor při zadání rozsahu *není* poslední index vynechán.

In [17]:
hraci_df.loc[1:4]

   jméno  příjmení       tým  číslo
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8
4  Morty   Sanchez  FC Terra      0

Dostaneme opět DataFrame, takže z něj můžeme opět vybrat sloupce.

In [18]:
hraci_df.loc[:3][["příjmení", "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8

Kvůli implementaci je ale lepší to dělat najednou.

In [19]:
hraci_df.loc[:3, ["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8

I na sloupce se pak dají použít rozsahy. Všechny řádky vybereme zadaním `:` (platí i pro sloupce).

In [20]:
hraci_df.loc[:, "jméno" : "tým"]

   jméno  příjmení       tým
0  Robot    Marvin  FC Cadia
1  Leman      Russ  FC Cadia
2  Zafod  Biblbrox  FC Cadia
3   Rick   Sanchez  FC Terra
4  Morty   Sanchez  FC Terra

In [21]:
pokemon_df.head()

,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
id,,,,,,,,,,,,,,,,,,,,
1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,65,65,45,318,1,NaN,1,1:7,0
2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,80,80,60,405,1,1.0,1,1:7,0
3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,100,100,80,525,1,2.0,1,1:7,1
4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,60,50,65,309,1,NaN,2,1:7,0
5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80,65,80,405,1,4.0,2,1:7,0

**Cvičení:** Vyberte z `pokemon_df` sloupce `'hp', 'attack', 'defense', 'sp. attack', 'sp. defense', 'speed', 'total'`.

In [22]:
pokemon_df.loc[:, "hp":"total"]

      hp  attack  defense  sp. attack  sp. defense  speed  total
id
1     45      49       49          65           65     45    318
2     60      62       63          80           80     60    405
3     80      82       83         100          100     80    525
4     39      52       43          60           50     65    309
5     58      64       58          80           65     80    405
6     78      84       78         109           85    100    534
7     44      48       65          50           64     43    314
8     59      63       80          65           80     58    405
9     79      83      100          85          105     78    530
10    45      30       35          20           20     45    195
11    50      20       55          25           25     30    205
12    60      45       50          90           80     70    395
13    40      35       30          20           20     50    195
14    45      25       50          25           25     35    205
15    65      90       40          45           80     75    395
16    40      45       40          35           35     56    251
17    63      60       55          50           50     71    349
18    83      80       75          70           70    101    479
19    30      56       35          25           35     72    253
20    55      81       60          50           70     97    413
21    40      60       30          31           31     70    262
22    65      90       65          61           61    100    442
23    35      60       44          40           54     55    288
24    60      95       69          65           79     80    448
25    35      55       40          50           50     90    320
26    60      90       55          90           80    110    485
27    50      75       85          20           30     40    300
28    75     100      110          45           55     65    450
29    55      47       52          40           40     41    275
30    70      62       67          55           55     56    365
..   ...     ...      ...         ...          ...    ...    ...
778   55      90       80          50          105     96    476
779   68     105       70          70           70     92    475
780   78      60       85         135           91     36    485
781   70     131      100          86           90     40    517
782   45      55       65          45           45     45    300
783   55      75       90          65           70     65    420
784   75     110      125         100          105     85    600
785   70     115       85          95           75    130    570
786   70      85       75         130          115     95    570
787   70     130      115          85           95     75    570
788   70      75      115          95          130     85    570
789   43      29       31          29           31     37    200
790   43      29      131          29          131     37    400
791  137     137      107         113           89     97    680
792  137     113       89         137          107     97    680
793  109      53       47         127          131    103    570
794  107     139      139          53           53     79    570
795   71     137       37         137           37    151    570
796   83      89       71         173           71     83    570
797   97     101      103         107          101     61    570
798   59     181      131          59           31    109    570
799  223     101       53          97           53     43    570
800   97     107      101         127           89     79    600
801   80      95      115         130          115     65    600
802   90     125       80          90           90    125    600
803   67      73       67          73           67     73    420
804   73      73       73         127           73    121    540
805   61     131      211          53          101     13    570
806   53     127       53         151           79    107    570
807   88     112       75         102           80    143    600

[807 rows x 7 columns]

## Přísup k datům - indexování 2

Někdy jsou ale data rozbitá a jména sloupců ani čísla řádek nedávají smysl.

In [23]:
napoje_df

,Unnamed: 0,Unnamed: 1,Číslo,Název,něco,něco.1,Kód,Reference,Unnamed: 8,Unnamed: 9,Unnamed: 10,Kód.1,TYP
0,NaN,NaN,000758453,Pepsi 1,NaN,NaN,PEP,PEP758453AR,NaN,NaN,NaN,PEP,AR
1,NaN,NaN,000758454,Mirinda 453,NaN,NaN,MIR,MIR758454AR,NaN,NaN,NaN,COL,BR
2,NaN,NaN,000758455,Cola 87,NaN,NaN,COL,NaN,NaN,NaN,NaN,H2O,BR
3,NaN,NaN,000758458,Pepsi 152,NaN,NaN,PEP,NaN,NaN,NaN,NaN,MIR,AR
4,NaN,NaN,00085691,Pepsi 462,NaN,NaN,PEP,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,00085692,Cola 50,NaN,NaN,COL,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,00085693,Mirinda 400,NaN,NaN,MIR,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,00085694,Voda H2O,NaN,NaN,H2O,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,000758456,Voda 007,NaN,NaN,H2O,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,000758457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,Cílem je vytvořit referenci ze sloupečků G + (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Tam to asi půjde jednoduše přes if - if G PEP ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,"Řešení tam ty nuly nepsat by šlo asi taky, ale...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Super by bylo moct si tu referenci nebo celej ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,Ono tohle v Excelu určitě půjde udělat. Podobn...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Pomocí `.iloc` můžeme indexovat všechno čísly...

In [24]:
napoje_df.iloc[0:4, 11:13]

  Kód.1 TYP
0   PEP  AR
1   COL  BR
2   H2O  BR
3   MIR  AR

... a napříkald oříznout data, tak abychom se v nich vyznali.

In [25]:
kod_typ = napoje_df.iloc[0:4, 11:13]

napoje_cut_df = napoje_df.iloc[0:9, 2:8].reset_index(drop=True)
napoje_cut_df

       Číslo        Název  něco  něco.1  Kód    Reference
0  000758453      Pepsi 1   NaN     NaN  PEP  PEP758453AR
1  000758454  Mirinda 453   NaN     NaN  MIR  MIR758454AR
2  000758455      Cola 87   NaN     NaN  COL          NaN
3  000758458    Pepsi 152   NaN     NaN  PEP          NaN
4   00085691    Pepsi 462   NaN     NaN  PEP          NaN
5   00085692      Cola 50   NaN     NaN  COL          NaN
6   00085693  Mirinda 400   NaN     NaN  MIR          NaN
7   00085694     Voda H2O   NaN     NaN  H2O          NaN
8  000758456     Voda 007   NaN     NaN  H2O          NaN

**Cvičení:** Vyberte z `pokemon_df` posledních deset pokemonů a první a poslední sloupec.

In [26]:
pokemon_df.iloc[-10:, [0, -1]]

            name  has_gender_differences
id
798      kartana                       0
799     guzzlord                       0
800     necrozma                       0
801     magearna                       0
802    marshadow                       0
803      poipole                       0
804    naganadel                       0
805    stakataka                       0
806  blacephalon                       0
807      zeraora                       0

## Filtrování dat - masky

Často je nutné vybírat data podle *hodnot* a ne podle *pozice* v tabulce.

In [27]:
hraci_df

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8
4  Morty   Sanchez  FC Terra      0

Maska je pole  `True` nebo `False` hodnot, které vznikne nejčastěji na základě "porovnávacích operátorů."

In [28]:
maska = hraci_df["tým"] == "FC Cadia"
maska

0     True
1     True
2     True
3    False
4    False
Name: tým, dtype: bool

Pokud ji použijeme v hranatých závorkách slouží jako filtr řádků, kde je `True` řádek nám zůstane, kde je `False` řádek vypadne. Výsledek se vrací, s původním DataFramem se nic neděje.

In [29]:
hraci_df[maska]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42

Můžeme ji použít i v `.loc`, pochopitelně tam, kde bychom vybrali řádky.

In [30]:
hraci_df.loc[maska, ["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42

Není třeba si ji ukládat do proměnné, pak je rovnou vidět jaké řádky jsme vybírali.

In [31]:
hraci_df[hraci_df["tým"] == "FC Cadia"]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42

Logické operace se provádí pomocí:
* `&` odpovídá `and`
* `|` odpovídá `or` 
* `~` odpovídá `not`

Lze použít i operátory `<`,`>`,`<=`,`>=`, `!=`, 

Je nutné uzávorkování, protože logické operátory mají větší prioritu než "porovnávací".

In [32]:
hraci_df[(hraci_df["tým"] == "FC Terra") & (hraci_df["číslo"] > 0) ]

  jméno příjmení       tým  číslo
3  Rick  Sanchez  FC Terra      8

Občas potřebujeme s obsahem sloupce pracovat jako se stringem, k tomu slouží atribut str.

In [33]:
hraci_df[hraci_df["jméno"].str[0]=="R"]

   jméno příjmení       tým  číslo
0  Robot   Marvin  FC Cadia    -42
3   Rick  Sanchez  FC Terra      8

In [48]:
hraci_df[(hraci_df["tým"] != "FC Terra") | (hraci_df["jméno"].str.len() < 5) ]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8

Pokud chceme kontrolovat, jestli je hodnta v seznamu můžeme použít metodu `issin()`

In [35]:
hraci_df[hraci_df['příjmení'].isin(['Sanchez', 'Russ'])]

   jméno příjmení       tým  číslo
1  Leman     Russ  FC Cadia  40001
3   Rick  Sanchez  FC Terra      8
4  Morty  Sanchez  FC Terra      0

Na hodnoty můžeme použít i funkce.

In [36]:
hraci_df[abs(hraci_df["číslo"]) == 42]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
2  Zafod  Biblbrox  FC Cadia     42

In [37]:
postavy_prijmeni = ["Prefect", "Dent", "Marvin", 
                    "Biblbrox", "von Vogon"]

In [38]:
hraci_df[hraci_df["příjmení"].isin(postavy_prijmeni)]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
2  Zafod  Biblbrox  FC Cadia     42

**Cvičení:** Z `pokemon_df` vyberte všechny vodní (Water) Pokémony jejichž jméno začíná na 's'

In [44]:
pokemon_df[(pokemon_df["type 1"] == "Water") & (pokemon_df["name"].str.startswith("s"))]

,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
id,,,,,,,,,,,,,,,,,,,,
7,squirtle,0.5,9.0,blue,upright,False,Water,NaN,44,48,65,50,64,43,314,1,NaN,3,1:7,0
79,slowpoke,1.2,36.0,pink,quadruped,False,Water,Psychic,90,65,65,40,40,15,315,1,NaN,33,1:1,0
80,slowbro,1.6,78.5,pink,upright,False,Water,Psychic,95,75,110,100,80,30,490,1,79.0,33,1:1,0
86,seel,1.1,90.0,white,fish,False,Water,NaN,65,45,55,45,70,45,325,1,NaN,37,1:1,0
90,shellder,0.3,4.0,purple,ball,False,Water,NaN,30,65,100,45,25,40,305,1,NaN,39,1:1,0
117,seadra,1.2,25.0,blue,blob,False,Water,NaN,55,65,95,95,45,85,440,1,116.0,54,1:1,0
119,seaking,1.3,39.0,red,fish,False,Water,NaN,80,92,65,65,80,68,450,1,118.0,55,1:1,1
120,staryu,0.8,34.5,brown,blob,False,Water,NaN,30,45,55,70,55,85,340,1,NaN,56,0:0,0
121,starmie,1.1,80.0,purple,blob,False,Water,Psychic,60,75,85,100,85,115,520,1,120.0,56,0:0,0
199,slowking,2.0,79.5,pink,upright,False,Water,Psychic,95,75,80,100,110,30,490,2,79.0,33,1:1,0
245,suicune,2.0,187.0,blue,quadruped,False,Water,NaN,100,75,115,90,115,85,580,2,NaN,125,0:0,0
260,swampert,1.5,81.9,blue,upright,False,Water,Ground,100,110,90,85,90,60,535,3,259.0,132,1:7,0
319,sharpedo,1.8,88.8,blue,fish,False,Water,Dark,70,120,40,95,40,95,460,3,318.0,160,1:1,0
422,shellos,0.3,6.3,purple,squiggle,False,Water,NaN,76,48,48,57,62,34,325,4,NaN,218,1:1,0
503,samurott,1.5,94.6,blue,quadruped,False,Water,NaN,95,100,85,108,70,70,528,5,502.0,258,1:7,0
516,simipour,1.0,29.0,blue,upright,False,Water,NaN,75,98,63,98,63,101,498,5,515.0,264,1:7,0
537,seismitoad,1.5,62.0,blue,humanoid,False,Water,Ground,105,95,75,85,75,74,509,5,536.0,273,1:1,0
581,swanna,1.3,24.2,white,wings,False,Water,Flying,75,87,63,87,63,98,473,5,580.0,295,1:1,0

## Čištění

Už umíme všelijak vybrat data, která nás zajímají ale i ta která nás nezajímají, jak je z DataFramu odstranit?

In [33]:
pokemon_df.head()

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,...,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,has_gender_differences
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,49,65,65,45,318,1,NaN,1,1:7,0
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,63,80,80,60,405,1,1.0,1,1:7,0
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,83,100,100,80,525,1,2.0,1,1:7,1
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,43,60,50,65,309,1,NaN,2,1:7,0
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,58,80,65,80,405,1,4.0,2,1:7,0

Pomocí metody `drop` můžme zahodit třeba sloupce, parametr `inplace`, zajistí, že se `DataFrame` upraví, místo toho aby byl jen vrácen nový.

In [34]:
pokemon_df.drop(columns=["has_gender_differences"], inplace=True)

Obdobně s `rename`, předáváme slovník, ve kterém je původní jméno : nové jméno

In [35]:
pokemon_df.rename(columns={"is baby": "is_baby"}, inplace=True)

In [36]:
pokemon_df["evolves from"].head()

0    NaN
1    1.0
2    2.0
3    NaN
4    4.0
Name: evolves from, dtype: float64

Někdy se potřebujeme zbavit nepohodlných NaN hodnot. Následující příkaz je nahradí nulou.

In [37]:
pokemon_df["evolves from"] = pokemon_df["evolves from"].fillna(0).astype(int)

## Řazení

In [38]:
top5 = pokemon_df.sort_values(by='name', ascending=False)[:5]

In [39]:
top5

,id,name,height,weight,color,shape,is_baby,type 1,type 2,hp,attack,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio
717,718,zygarde,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,81,95,95,600,6,0,370,0:0
633,634,zweilous,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,65,70,58,420,5,633,323,1:1
40,41,zubat,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,30,40,55,245,1,0,17,1:1
569,570,zorua,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,80,40,65,330,5,0,291,1:7
570,571,zoroark,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,120,60,105,510,5,570,291,1:7

In [40]:
pokemon_df.head()

,id,name,height,weight,color,shape,is_baby,type 1,type 2,hp,attack,defense,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,65,65,45,318,1,0,1,1:7
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,80,80,60,405,1,1,1,1:7
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,100,100,80,525,1,2,1,1:7
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,60,50,65,309,1,0,2,1:7
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80,65,80,405,1,4,2,1:7

## Přidávání sloupců

Sloupce se přidávají jednoduše, jako položky do slovníku, jen musíme dát pozor, abychom přidávali stejný počet hodnot jako je v DataFramu. Pokud používáme sloupce z DataFramu je to triviální.

In [41]:
pokemon_df["BMI"] = pokemon_df["weight"] / pokemon_df["height"]**2

Pokud chceme všem řádkům přiřadit stejnou hodnotu (inicializovat je) není třeba vytvářet speciální pole, stačí...

In [42]:
pokemon_df["is_real"] = "No"

In [43]:
pokemon_df.head()

,id,name,height,weight,color,shape,is_baby,type 1,type 2,hp,...,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,BMI,is_real
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,65,65,45,318,1,0,1,1:7,14.081633,No
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,80,80,60,405,1,1,1,1:7,13.000000,No
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,100,100,80,525,1,2,1,1:7,25.000000,No
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,60,50,65,309,1,0,2,1:7,23.611111,No
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,80,65,80,405,1,4,2,1:7,15.702479,No

# Výstup

In [46]:
pokemon_df.to_excel("../data/pokemon_bmi.xls")

# Cvičení
Z `pokemon_df` vyberte všechny dospělé Pokémony, kteří jsou lehčí než nejtěžší baby pokémon. Navíc vypište jejich počet.

## Řešení cvičení

In [47]:
heaviest_babe = pokemon_df[pokemon_df.is_baby].sort_values(by="weight", ascending=False).iloc[0]
heaviest_babe

id                      446
name               munchlax
height                  0.6
weight                  105
color                 black
shape              humanoid
is_baby                True
type 1               Normal
type 2                  NaN
hp                      135
attack                   85
defense                  40
sp. attack               40
sp. defense              85
speed                     5
total                   390
generation                4
evolves from              0
evolution group          72
fm gender ratio         1:7
BMI                 291.667
is_real                  No
Name: 445, dtype: object

In [48]:
baby_wght = heaviest_babe["weight"]

In [49]:
lighter_poks = pokemon_df[
    (~pokemon_df.is_baby) & 
    (pokemon_df["weight"] < baby_wght)]
lighter_poks

,id,name,height,weight,color,shape,is_baby,type 1,type 2,hp,...,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,BMI,is_real
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,...,65,65,45,318,1,0,1,1:7,14.081633,No
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,...,80,80,60,405,1,1,1,1:7,13.000000,No
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,...,100,100,80,525,1,2,1,1:7,25.000000,No
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,...,60,50,65,309,1,0,2,1:7,23.611111,No
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,...,80,65,80,405,1,4,2,1:7,15.702479,No
5,6,charizard,1.7,90.5,red,upright,False,Fire,Flying,78,...,109,85,100,534,1,5,2,1:7,31.314879,No
6,7,squirtle,0.5,9.0,blue,upright,False,Water,NaN,44,...,50,64,43,314,1,0,3,1:7,36.000000,No
7,8,wartortle,1.0,22.5,blue,upright,False,Water,NaN,59,...,65,80,58,405,1,7,3,1:7,22.500000,No
8,9,blastoise,1.6,85.5,blue,upright,False,Water,NaN,79,...,85,105,78,530,1,8,3,1:7,33.398437,No
9,10,caterpie,0.3,2.9,green,armor,False,Bug,NaN,45,...,20,20,45,195,1,0,4,1:1,32.222222,No
10,11,metapod,0.7,9.9,green,squiggle,False,Bug,NaN,50,...,25,25,30,205,1,10,4,1:1,20.204082,No
11,12,butterfree,1.1,32.0,white,bug-wings,False,Bug,Flying,60,...,90,80,70,395,1,11,4,1:1,26.446281,No
12,13,weedle,0.3,3.2,brown,armor,False,Bug,Poison,40,...,20,20,50,195,1,0,5,1:1,35.555556,No
13,14,kakuna,0.6,10.0,yellow,squiggle,False,Bug,Poison,45,...,25,25,35,205,1,13,5,1:1,27.777778,No
14,15,beedrill,1.0,29.5,yellow,bug-wings,False,Bug,Poison,65,...,45,80,75,395,1,14,5,1:1,29.500000,No
15,16,pidgey,0.3,1.8,brown,wings,False,Normal,Flying,40,...,35,35,56,251,1,0,6,1:1,20.000000,No
16,17,pidgeotto,1.1,30.0,brown,wings,False,Normal,Flying,63,...,50,50,71,349,1,16,6,1:1,24.793388,No
17,18,pidgeot,1.5,39.5,brown,wings,False,Normal,Flying,83,...,70,70,101,479,1,17,6,1:1,17.555556,No
18,19,rattata,0.3,3.5,purple,quadruped,False,Normal,NaN,30,...,25,35,72,253,1,0,7,1:1,38.888889,No
19,20,raticate,0.7,18.5,brown,quadruped,False,Normal,NaN,55,...,50,70,97,413,1,19,7,1:1,37.755102,No
20,21,spearow,0.3,2.0,brown,wings,False,Normal,Flying,40,...,31,31,70,262,1,0,8,1:1,22.222222,No
21,22,fearow,1.2,38.0,brown,wings,False,Normal,Flying,65,...,61,61,100,442,1,21,8,1:1,26.388889,No
22,23,ekans,2.0,6.9,purple,squiggle,False,Poison,NaN,35,...,40,54,55,288,1,0,9,1:1,1.725000,No
23,24,arbok,3.5,65.0,purple,squiggle,False,Poison,NaN,60,...,65,79,80,448,1,23,9,1:1,5.306122,No
24,25,pikachu,0.4,6.0,yellow,quadruped,False,Electric,NaN,35,...,50,50,90,320,1,172,10,1:1,37.500000,No
25,26,raichu,0.8,30.0,yellow,upright,False,Electric,NaN,60,...,90,80,110,485,1,25,10,1:1,46.875000,No
26,27,sandshrew,0.6,12.0,yellow,upright,False,Ground,NaN,50,...,20,30,40,300,1,0,11,1:1,33.333333,No
27,28,sandslash,1.0,29.5,yellow,upright,False,Ground,NaN,75,...,45,55,65,450,1,27,11,1:1,29.500000,No
28,29,nidoran-f,0.4,7.0,blue,quadruped,False,Poison,NaN,55,...,40,40,41,275,1,0,12,1:0,43.750000,No
29,30,nidorina,0.8,20.0,blue,quadruped,False,Poison,NaN,70,...,55,55,56,365,1,29,12,1:0,31.250000,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,763,tsareena,1.2,21.4,purple,humanoid,False,Grass,NaN,72,...,50,98,72,510,7,762,392,1:0,14.861111,No
763,764,comfey,0.1,0.3,green,ball,False,Fairy,NaN,51,...,82,110,100,485,7,0,393,3:1,30.000000,No
764,765,oranguru,1.5,76.0,white,humanoid,False,Normal,Psychic,90,...,90,110,60,490,7,0,394,1:1,33.777778,No
765,766,passimian,2.0,82.8,white,upright,False,Fighting,NaN,100,...,40,60,80,490,7,0,395,1:1,20.700000,No
766,767,wimpod,0.5,12.0,gray,tentacles,False,Bug,Water,25,...,20,30,80,230,7,0,396,1:1,48.000000,No
768,769,sandygast,0.5,70.0,brown,squiggle,False,Ghost,Ground,55,...,70,45,15,320,7,0,397,1:1,280.000000,No
770,771,pyukumuku,0.3,1.2,black,squiggle,False,Water,NaN,55,...,30,130,5,410,7,0,398,1:1,13.333333,No
772,773,silvally,2.3,100.5,gray,quadruped,False,Normal,NaN,95,...,95,95,95,570,7,772,399,0:0,18.998110,No
773,774,minior,0.3,40.0,brown,ball,False,Rock,Flying,60,...,60,100,60,440,7,0,400,0:0,444.444444,No
774,775,komala,0.4,19.9,blue,humanoid,False,Normal,NaN,65,...,75,95,65,480,7,0,401,1:1,124.375000,No
776,777,togedemaru,0.3,3.3,gray,upright,False,Electric,Steel,65,...,40,73,96,435,7,0,403,1:1,36.666667,No
777,778,mimikyu,0.2,0.7,yellow,squiggle,False,Ghost,Fairy,55,...,50,105,96,476,7,0,404,1:1,17.500000,No
778,779,bruxish,0.9,19.0,pink,fish,False,Water,Psychic,68,...,70,70,92,475,7,0,405,1:1,23.456790,No
781,782,jangmo-o,0.6,29.7,gray,quadruped,False,Dragon,NaN,45,...,45,45,45,300,7,0,408,1:1,82.500000,No
782,783,hakamo-o,1.2,47.0,gray,upright,False,Dragon,Fighting,55,...,65,70,65,420,7,782,408,1:1,32.638889,No
783,784,kommo-o,1.6,78.2,gray,upright,False,Dragon,Fighting,75,...,100,105,85,600,7,783,408,1:1,30.546875,No
784,785,tapu-koko,1.8,20.5,yellow,arms,False,Electric,Fairy,70,...,95,75,130,570,7,0,409,0:0,6.327160,No
785,786,tapu-lele,1.2,18.6,pink,arms,False,Psychic,Fairy,70,...,130,115,95,570,7,0,410,0:0,12.916667,No
786,787,tapu-bulu,1.9,45.5,red,arms,False,Grass,Fairy,70,...,85,95,75,570,7,0,411,0:0,12.603878,No
787,788,tapu-fini,1.3,21.2,purple,arms,False,Water,Fairy,70,...,95,130,85,570,7,0,412,0:0,12.544379,No
788,789,cosmog,0.2,0.1,blue,ball,False,Psychic,NaN,43,...,29,31,37,200,7,0,413,0:0,2.500000,No
792,793,nihilego,1.2,55.5,white,tentacles,False,Rock,Poison,109,...,127,131,103,570,7,0,414,0:0,38.541667,No
794,795,pheromosa,1.8,25.0,white,humanoid,False,Bug,Fighting,71,...,137,37,151,570,7,0,416,0:0,7.716049,No
795,796,xurkitree,3.8,100.0,black,upright,False,Electric,NaN,83,...,173,71,83,570,7,0,417,0:0,6.925208,No
797,798,kartana,0.3,0.1,white,humanoid,False,Grass,Steel,59,...,59,31,109,570,7,0,419,0:0,1.111111,No
800,801,magearna,1.0,80.5,gray,humanoid,False,Steel,Fairy,80,...,130,115,65,600,7,0,422,0:0,80.500000,No
801,802,marshadow,0.7,22.2,gray,humanoid,False,Fighting,Ghost,90,...,90,90,125,600,7,0,423,0:0,45.306122,No
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,...,73,67,73,420,7,0,424,0:0,5.000000,No
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,...,151,79,107,570,7,0,426,0:0,4.012346,No
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,...,102,80,143,600,7,0,427,0:0,19.777778,No

In [50]:
len(lighter_poks)

671

In [51]:
pokemon_df[pokemon_df["is_baby"]].sort_values(
    by="weight", ascending=False).iloc[:5]

,id,name,height,weight,color,shape,is_baby,type 1,type 2,hp,...,sp. attack,sp. defense,speed,total,generation,evolves from,evolution group,fm gender ratio,BMI,is_real
445,446,munchlax,0.6,105.0,black,humanoid,True,Normal,NaN,135,...,40,85,5,390,4,0,72,1:7,291.666667,No
457,458,mantyke,1.0,65.0,blue,wings,True,Water,Flying,45,...,60,120,50,345,4,0,116,1:1,65.000000,No
439,440,happiny,0.6,24.4,pink,humanoid,True,Normal,NaN,100,...,15,65,30,220,4,0,51,1:0,67.777778,No
238,239,elekid,0.6,23.5,yellow,humanoid,True,Electric,NaN,45,...,65,55,95,360,2,0,60,1:3,65.277778,No
239,240,magby,0.7,21.4,red,upright,True,Fire,NaN,45,...,70,55,83,365,2,0,61,1:3,43.673469,No

In [52]:
pokemon_df.min()

id                         1
name               abomasnow
height                   0.1
weight                   0.1
color                  black
shape                  armor
is_baby                False
type 1                   Bug
hp                         1
attack                     5
defense                    5
sp. attack                10
sp. defense               20
speed                      5
total                    175
generation                 1
evolves from               0
evolution group            1
fm gender ratio          0:0
BMI                0.0390625
is_real                   No
dtype: object